@font-face{
    font-family: Bungee;
    src: url('../assets/fonts/bungee/Bungee-Regular.ttf');
  }
  
  body {
    background-color: black;
  }
  
  .fundo{
    display: flex;
    justify-content: center;
    width: 1350px;
    height: 600px;
    background-color: aliceblue;
  }
  
  .img{
    display: flex;
    justify-content: center;
    position:relative;
    text-align:center;
    width: 1350px;
    height: 600px;
  }

  #tema{
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 37%;
    right: 35%;
    width: 350px;
    height: 60px;
    padding: 0;
    font-family: Bungee;
    color: #220F2D;
    font-size: 50px;
    text-align: center;
  }
  
  #vida {
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
    right: 35%;
    width: 90px;
    height: 40px;
    padding: 0;
    margin: -15px 0 0 -30px;
    border-radius: 50px;
    background-color: #5E17EB;
    font-family: Bungee;
    text-align: center;
    color:white;
    font-size: 15px;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
  }
  
  #moeda{
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 93%;
    right: 35%;
    width: 90px;
    height: 40px;
    padding: 0;
    margin: -15px 0 0 -30px;
    border-radius: 50px;
    background-color: #5E17EB;
    font-family: Bungee;
    text-align: center;
    color:white;
    font-size: 15px;
    box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.77);
  }
  
  #imgMoeda, #imgCor, #lblVida, #lblMoeda{
    margin-left: 5px;
  }
  
  

  