<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/logout.css" th:href="@{/css/logout.css}" />
  <link rel="icon" type="image/png" href="../static/assets/images/icone_astronaut.png" th:href="@{/assets/images/icone_astronaut.png}"/>
  <title>Jogo da Forca</title>
</head>
<body>
  <div class="fundo">
    <div class="img">
      <img src="../static/assets/images/pop_up_logout.png" th:src="@{/assets/images/pop_up_logout.png}" width="100%" height="100%">
      <div id="x">
        <img src="../static/assets/images/botao_x.png" th:src="@{/assets/images/botao_x.png}" width="40px" height="40px">
      </div>
        <div>
            <label id="sair">Tem certeza que</label>
            <label id="sair2">deseja sair?</label>
            <button id="btnsair">SAIR</button>
        </div>
    </div>
</div>
</body>
</html>