<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sorteiotema.css}" />
    <link rel="icon" type="image/png" th:href="@{/assets/images/icone_astronaut.png}" />
    <title>Jogo da Forca</title>
</head>

<body>
    <div class="fundo">
        <div class="img">
            <img th:src="@{/assets/images/sorteio_do_tema.png}" width="100%" height="100%">
            <div>
                <label id="tema">teste</label>
                <div>
                    <div id="vida">
                        <img id="imgCor" th:src="@{/assets/images/coracao.png}" width="30px" height="30px">
                        <label id="lblVida">10</label>
                    </div>
                    <div id="moeda">
                        <img id="imgMoeda" th:src="@{/assets/images/moedas.png}" width="30px" height="30px">
                        <label id="lblMoeda">120</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>